{% extends "global/datepicker_form.html" %}
{% load widget_tweaks i18n %}
{% get_current_language as LANG_CODE %}
{% block base_content %}
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block event_form_title %}{% endblock %}</h3>
                </div>
                <form class="form-horizontal" role="form" method="post" id="event-form">
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.name.errors }}
                            <label class="control-label col-sm-2" for="{{ form.name.id_for_label }}">{% trans "Name" %}:</label>
                            <div class="col-sm-10">
                                {% render_field form.name class+="form-control" placeholder="Enter event name" type="text" %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.start.errors }}
                            <label class="control-label col-sm-2" for="datepicker-start">{% trans "Start date" %}:</label>
                            <div class="col-sm-10">
                                {% include 'global/_includes/datepicker_input.html' with date_picker_id='datepicker-start' input_name=form.start.name %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.end.errors }}
                            <label class="control-label col-sm-2" for="datepicker-end">{% trans "End date" %}:</label>
                            <div class="col-sm-10">
                                {% include 'global/_includes/datepicker_input.html' with date_picker_id='datepicker-end' input_name=form.end.name %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <a href="{% block back_url %}{% endblock %}" class="btn btn-danger" role="button">{% trans "Cancel" %}</a>
                                    <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    $(function () {
        initLinkedDatePickers(
            $('#datepicker-start'),
            $('#datepicker-end'),
            $('#event-form'),
            '{{ form.start.initial|date:'c' }}',
            '{{ form.end.initial|date:'c' }}',
            '{{ LANG_CODE|default:'en' }}'
        );
    });
</script>
{% endblock extra_js %}