{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block page_title %}{% endblock page_title %}</title>

    <!-- Bootstrap -->
    <link href="{% static "lib/css/bootstrap.min.css" %}" rel="stylesheet">
    {% block extra_lib_css %}{% endblock extra_lib_css %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static "lib/js/support/html5shiv.min.js" %}"></script>
      <script src="{% static "lib/js/support/respond.min.js" %}"></script>
    <![endif]-->
  </head>
  <body>
    {% block base_content %}
    {% endblock %}
    <script type="text/javascript" src="{% static "lib/js/jquery.min.js" %}"></script>
    {% block extra_lib_js %}{% endblock extra_lib_js %}
    <script type="text/javascript" src="{% static "lib/js/bootstrap.min.js" %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
