{% extends "global/base.html" %}
{% load widget_tweaks i18n %}
{% block base_content %}
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Login" %}</h3>
                </div>
                {% url 'login' as login_url %}
                {% include 'base/_includes/login_form.html' with form_action=login_url %}
            </div>
        </div>
    </div>
</div>
{% endblock %}