{% load i18n %}
<div class="modal fade" id="billParticipant{{ bill_participant.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="billParticipant{{ bill_participant.id }}ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="billParticipant{{ bill_participant.id }}ModalLabel">{% trans "Delete" %}: {{ bill_participant.get_name }}?</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "Do you really want to delete" %}&nbsp;{{ bill_participant.get_description }}&nbsp;{% trans "from" %}&nbsp;{{ bill_participant.bill.get_name }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">{% trans "Cancel" %}</button>
                <a href="{{ bill_participant.get_absolute_remove_url }}" type="button" class="btn btn-danger">{% trans "Delete" %}</a>
            </div>
        </div>
    </div>
</div>